.__aria_cards_grid__ {
  padding: 14px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 12px;
}

.__aria_item_group__ {
  display: grid;
  gap: 6px;
  align-content: end;
}
